<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  

  <body>

    {% include sidebar.html %}

    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>
     @import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

body .gist .gist-file {
    margin-bottom: 0;
    border: 1px dashed #adb5bd;
    border-radius: 0;
}

body .gist .gist-data {
    border-bottom: none;
    border-radius: 0;
    background-color: #f1f3f5;
}

body .gist .blob-wrapper {
    border-radius: 0;
}

body .gist .highlight {
    background-color: transparent;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 14px;
}

body .gist .highlight td {
    padding: 5px 15px !important;
    line-height: 1;
    font-family: inherit;
    font-size: inherit;
}

body .gist tr:first-child td {
    padding-top: 15px !important;
}

body .gist tr:last-child td {
    padding-bottom: 15px !important;
}

body .gist .blob-num {
    color: #ced4da;
    background-color: #495057;
    pointer-events: none;
}

body .gist .gist-meta {
    display: none;
}
      <div class="container content">
        <script src="https://gist.github.com/NarayanaSVenkat/f5a091a97c0536d077ea6c0939246920.js"></script>
        {{ content }}
      {% include disqus.html %}
      </div>
      
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    
      </body>
</html>
