<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  

  <body>

    {% include sidebar.html %}

    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>
     
      <div class="container content">
        {% gist f5a091a97c0536d077ea6c0939246920 %}
        {{ content }}
      {% include disqus.html %}
      </div>
      
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    
      </body>
</html>
